mixin ol(list)
  ol
    - each item in list
      li= item

mixin ul(list)
  ul
    - each item in list
      li= item

mixin note(note)
  div= note
    block

mixin codeBlockFragment(attrs)
  - attrs= typeof(attrs) == 'object' ? attrs : {}
  - attrs['class'] = attrs['class'] || ''
  - attrs['contenteditable']= attrs['contenteditable'] || false
  pre
    code&attributes(typeof(attrs) == 'object' ? attrs : {})
      block

mixin ulFragment(list)
  ul
    - each item, i in list
      li(class="fragment visible" data-fragment-index=i)= item

mixin olFragment(list)
  ol
    - each item, i in list
      li(class="fragment visible" data-fragment-index=i)= item
