mixin ol(list)
  ol
    - each item in list
      li= item

mixin ul(list)
  ul
    - each item in list
      li= item

mixin note(note)
  div= note
    block

mixin codeBlock(attrs)
  - opts= typeof(attrs) == 'object' ? attrs : {}
  - opts['data-trim']= attrs['data-trim'] || ''
  - opts['contenteditable']= attrs['contenteditable'] || ''
  pre
    code&attributes(typeof(attrs) == 'object' ? attrs : {})
      block

mixin ulFragment(list)
  ul
    - each item, i in list
      li(class="fragment visible" data-fragment-index=i)= item

mixin olFragment(list)
  ol
    - each item, i in list
      li(class="fragment visible" data-fragment-index=i)= item
